#lipstick {
	position: absolute;
	width: 200px;
	left: -100px;
	top: 250px;
	transform: rotate(-10deg);
}

.showcase-components img {
	width: 35vw;
	transform: rotate(5deg);
	position: absolute;
	right: 50px;
	top: -50px;
}

.showcase-components div p {
	font-size: 5vw;
	margin-bottom: 2rem;
}

@media (max-width: 800px) {
	.reviews {
		display: flex;
		flex-direction: column;
		/* grid-template-rows: 1fr 1fr 1fr; */
		grid-gap: 3rem;
		padding: 0 2rem;
		/* background: var(--back-card); */
		/* padding: 3rem 3rem 3rem 3rem; */
	}

	.footer {
		display: flex;
		flex-direction: column;
		background: none;
	}

	.footer > div {
		display: flex;
		flex-direction: column;
		padding: 1rem;
		margin: 1rem 1rem;
		/* background: green; */
		/* padding-bottom: 5rem; */
		background: #130e1a9a;
		border-radius: 20px;
	}

	.footer > div:nth-child(3) {
		display: none;
	}

	.copyright {
		margin-top: 1rem;
	}
}
